doctype html
html
    head
        include _header
        title Wichita Wolves
        style #{style}

include _navbar

#mainCarousel.carousel.slide(data-ride='carousel')
    ol#carousel-indicators.carousel-indicators
        - var n = 0
        each c in CAROUSEL
            li(class=c.ACTIVE data-target='#mainCarousel' data-slide-to=n++)
    
    #main-carousel.carousel-inner
        each c in CAROUSEL
            .carousel-item(class=c.ACTIVE style="background: url("+c.BACKGROUND+");") 
                .carousel-content
                    h1 #{c.TITLE}
                    p #{c.DESCRIPTION}
                    br
                    button.w3-button(onclick=c.BTN_URL)
                        | #{c.BTN_TEXT} &nbsp; 
                        i.fas.fa-arrow-right.fa-sm
    
    a.carousel-control-prev(href='#mainCarousel' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
    a.carousel-control-next(href='#mainCarousel' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next

.pageContent.w3-col.s12.m12.l12
    if TEAMS.length != 0
        .w3-container.w3-row.content-section.dark(style="background: #0b0b11;")
            .w3-col.s1.m1.l2.w3-container.side-container

            .w3-col.s10.m10.l8.w3-container
                h1.w3-center(style='font-weight: 700;') Featured Teams
                p.w3-center Meet the players
                #teamsDisplay.teamsDisplay
                    each t in TEAMS
                        .team-container(style="background: url("+t.BANNER_IMG+");" onclick="window.location.href='/rosters/"+t.NAME+"'")

                button.w3-button.moreStreamsBtn(onclick="window.location.href='/rosters'") All Rosters

            .w3-col.s1.m1.l2.w3-container.side-container

    if STREAMS.length != 0
        .w3-container.w3-row.content-section
            .w3-col.s1.m1.l2.w3-container.side-container

            .w3-col.s10.m10.l8.w3-container
                h1.w3-center(style='font-weight: 700;') Twitch Streams
                #streamsDisplay.streamsDisplay
                    each s in STREAMS
                        .streams-container(style="background: url("+s.LOGO+");" onclick="openUrl("+s.SOCIALS.TWITCH+")")
                            if s.VIEWS == 0
                                p.streamerStatus OFFLINE
                            else
                                p.streamerStatus
                                    | #{s.VIEWS} 
                                    span(style='color: #FF0207;')
                                        i.fas.fa-circle
                            p.streamerName= s.NAME
                            p.streamerTitle= s.TITLE
                            .socials-container
                                a(href=s.SOCIALS.TWITCH target='_blank' rel='noopener')
                                    i.fab.fa-twitch
                                if s.SOCIALS.TWITTER
                                    a(href=s.SOCIALS.TWITTER target='_blank' rel='noopener')
                                        i.fab.fa-twitter
                                if s.SOCIALS.YOUTUBE
                                    a(href=s.SOCIALS.YOUTUBE target='_blank' rel='noopener')
                                        i.fab.fa-youtube

                button.w3-button.moreStreamsBtn(onclick="window.location.href='/content-creators'") All Streams

            .w3-col.s1.m1.l2.w3-container.side-container


    .w3-container.w3-row.content-footer
        include _footer

script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
script(src="/js/general.js")
script(src="/js/home.js")
script.
    $('.carousel').carousel({
        interval: 5000,
        pause: false
    })